# Ambiente Virtual
venv/

# Cache do Python
__pycache__/

# Arquivos de áudio (ignora MP3 na raiz de audios e também em processados)
audios/**/*.mp3

#Dicionário de palavras para o Whisper
dicionario.txt

# Arquivos de transcrição (ignora os txts gerados)
transcricoes/**/*.txt

# Variáveis de Ambiente
.env

# Manter a estrutura das pastas vazias no repositório
!audios/processados/.gitkeep
!transcricoes/.gitkeep