# Ambiente Virtual
venv/
.direnv/

# Cache do Python
__pycache__/

# Arquivos de áudio (ignora MP3 na raiz de audios e também em processados)
audios/**/*.mp3
audios/**/*.m4a

#Dicionário de palavras para o Whisper
dicionario.txt

# Arquivos de transcrição (ignora os txts gerados)
transcricoes/**/*.txt

# Variáveis de Ambiente
.envrc
.env

# Manter a estrutura das pastas vazias no repositório
!audios/processados/.gitkeep
!audios/novos/.gitkeep
!transcricoes/novas/.gitkeep
!transcricoes/processadas/.gitkeep